

       
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Sales <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{salesToday.[0].count}}</h6>
                      {{!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> --}}

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Revenue <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-rupee"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{salesToday.[0].sales}}</h6>
                      {{!-- <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span> --}}

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Customers <span>| Total</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{users.[0].count}}</h6>
                      {{!-- <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span> --}}

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><button class="dropdown-item" onclick="weeklyReport()">This Week</button></li>
                    <li><button class="dropdown-item" onclick="monthlyReport()">This Month</button></li>
                    <li><button class="dropdown-item" onclick="yearlyReport()">This Year</button></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Sales Reports</h5>

                  <!-- Line Chart -->
                  <canvas id="line-chart"></canvas>
                  <script>
                        var myChart;
                        var myChart2;
                        var myChart3
                        var chart1
                        var chart2
                        var chart3

                      window.onload = () => {
                      weeklyReport()
                      weeklyPaymentReport()
                      };



                      function weeklyReport(){                            
                      chart1 = true;

                        const data = {
                          labels: [
                            {{#each weeklySales}}'{{_id}}',{{/each}}
                          ],
                          datasets: [{
                            label: 'Weekly Sales',
                            data: [{{#each weeklySales}}'{{total}}',{{/each}}],
                            backgroundColor: [
                              'rgb(103 119 239)',
                              'rgb(102 187 106)',
                              'rgb(54, 162, 235)',
                              'rgb(255, 99, 132)'
                            ]
                          }]
                        };

                        const config = {
                          type: 'bar',
                          data: data,
                          options: {
                            aspectRatio:3,
                            responsive:true
                          }
                        };
                        if(chart2){
                          myChart2.destroy()
                        }
                        if(chart3){
                          myChart3.destroy()
                        }
                      
                      myChart = new Chart(document.getElementById('line-chart'), config)                                    
                      } 
                      function monthlyReport(){
                        chart2 = true;
                      const data = {
                          labels: [
                            {{#each monthlySales}}'{{_id}}',{{/each}}
                          ],
                          datasets: [{
                            label: 'Monthly Sales',
                            data: [{{#each monthlySales}}'{{total}}',{{/each}}],
                            backgroundColor: [
                              'rgb(103 119 239)',
                              'rgb(102 187 106)',
                              'rgb(54, 162, 235)',
                              'rgb(255, 99, 132)'
                            ]
                          }]
                        };
                        
                        const config = {
                          type: 'pie',
                          data: data,
                          options: {
                            aspectRatio:3,
                            responsive:true
                          }
                        }; 
                        if(chart1){
                          myChart.destroy()
                        }
                        if(chart3){
                          myChart3.destroy()
                        }         
                                  
                      myChart2 = new Chart(document.getElementById('line-chart'), config)

                                            
                      } 

                      function yearlyReport(){

                        chart3 = true;


                      const data = {
                          labels: [
                            {{#each yearlySales}}'{{_id}}',{{/each}}
                          ],
                          datasets: [{  
                            label: 'Yearly Sales',
                            data: [{{#each yearlySales}}'{{total}}',{{/each}}],
                            backgroundColor: [
                              'rgb(103 119 239)',
                              'rgb(102 187 106)',
                              'rgb(54, 162, 235)',
                              'rgb(255, 99, 132)'
                            ]
                          }]
                        };
                        
                        const config = {
                          type: 'line',
                          data: data,
                          options: {
                            aspectRatio:3,
                            responsive:true
                          }
                        }; 
                      if(chart2){
                          myChart2.destroy()
                        }
                        if(chart1){
                          myChart.destroy()
                        }
                      myChart3 = new Chart(document.getElementById('line-chart'), config)
                      }
                      
                      </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Payment Reports -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><button class="dropdown-item" onclick="weeklyPaymentReport()">This Week</button></li>
                    <li><button class="dropdown-item" onclick="monthlyPaymentReport()">This Month</button></li>
                    <li><button class="dropdown-item" onclick="yearlyPaymentReport()">This Year</button></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Payments Reports <span></span></h5>

                  <!-- Line Chart -->
                  <canvas id="Payment-chart"></canvas>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Sales </h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Customer</th>
                        <th scope="col">OrderId</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                     {{#each lastfive}}
                      <tr>
                        <td>{{this.address.firstname}} {{this.address.lastname}}</td>
                        <td><a href="#" class="text-primary">{{this._id}}</a></td>
                        <td>₹ {{this.total}}</td>

                        <td><span>{{this.status}}</span></td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            

          </div>
        </div><!-- End Left side columns -->

        {{!-- <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Recent Activity <span>| Today</span></h5>

              <div class="activity">

                <div class="activity-item d-flex">
                  <div class="activite-label">32 min</div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content">
                    Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">56 min</div>
                  <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                  <div class="activity-content">
                    Voluptatem blanditiis blanditiis eveniet
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">2 hrs</div>
                  <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                  <div class="activity-content">
                    Voluptates corrupti molestias voluptatem
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">1 day</div>
                  <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                  <div class="activity-content">
                    Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">2 days</div>
                  <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                  <div class="activity-content">
                    Est sit eum reiciendis exercitationem
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">4 weeks</div>
                  <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                  <div class="activity-content">
                    Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                  </div>
                </div><!-- End activity item-->

              </div>

            </div>
          </div><!-- End Recent Activity -->

          <!-- Budget Report -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Budget Report <span>| This Month</span></h5>

              <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

              

            </div>
          </div><!-- End Budget Report -->

          <!-- Website Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Website Traffic <span>| Today</span></h5>

              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

              

            </div>
          </div><!-- End Website Traffic -->

          <!-- News & Updates Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

              <div class="news">
                <div class="post-item clearfix">
                  <img src="assets/img/news-1.jpg" alt="">
                  <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                  <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-2.jpg" alt="">
                  <h4><a href="#">Quidem autem et impedit</a></h4>
                  <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-3.jpg" alt="">
                  <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-4.jpg" alt="">
                  <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                  <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-5.jpg" alt="">
                  <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                  <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                </div>

              </div><!-- End sidebar recent posts-->

            </div>
          </div><!-- End News & Updates -->

        </div><!-- End Right side columns --> --}}

      </div>
    </section>

  </main><!-- End #main -->

 

  

    <script>
      ////////////////payment charts///////////////
    var MyPaymentChart;
      var MyPaymentChart2;
      var MyPaymentChart3
      var Paymentchart1
      var Paymentchart2
      var Paymentchart3



    function weeklyPaymentReport(){                            
    Paymentchart1 = true;

      const data = {
        labels: [
          {{#each paymentGraph}}'{{_id}}',{{/each}}
        ],
        datasets: [{
          label: 'Weekly Payment',
          data: [{{#each paymentGraph}}'{{count}}',{{/each}}],
          backgroundColor: [
            'rgb(103 119 239)',
            'rgb(102 187 106)',
            'rgb(54, 162, 235)',
            'rgb(255, 99, 132)'
          ]
        }]
      };

      const config = {
        type: 'bar',
        data: data,
        options: {
          aspectRatio:3,
          responsive:true
        }
      };
      if(Paymentchart2){
        MyPaymentChart2.destroy()
      }
      if(Paymentchart3){
        MyPaymentChart3.destroy()
      }
    
    MyPaymentChart = new Chart(document.getElementById('Payment-chart'), config)                                    
    } 



    function monthlyPaymentReport(){

      Paymentchart2 = true;


    const data = {
        labels: [
          {{#each paymentGraph}}'{{_id}}',{{/each}}
        ],
        datasets: [{
          label: 'Monthly Sales',
          data: [{{#each paymentGraph}}'{{count}}',{{/each}}],
          backgroundColor: [
            'rgb(103 119 239)',
            'rgb(102 187 106)',
            'rgb(54, 162, 235)',
            'rgb(255, 99, 132)'
          ]
        }]
      };
      
      const config = {
        type: 'pie',
        data: data,
        options: {
          aspectRatio:3,
          responsive:true
        }
      }; 
      if(Paymentchart1){
        MyPaymentChart.destroy()
      }
      if(Paymentchart3){
        MyPaymentChart3.destroy()
      }         
                
    MyPaymentChart2 = new Chart(document.getElementById('Payment-chart'), config)

                          
    } 

    function yearlyPaymentReport(){

      Paymentchart3 = true;


    const data = {
        labels: [
          {{#each paymentGraph}}'{{_id}}',{{/each}}
        ],
        datasets: [{  
          label: 'Yearly Sales',
          data: [{{#each paymentGraph}}'{{total}}',{{/each}}],
          backgroundColor: [
            'rgb(103 119 239)',
            'rgb(102 187 106)',
            'rgb(54, 162, 235)',
            'rgb(255, 99, 132)'
          ]
        }]
      };
      
      const config = {
        type: 'line',
        data: data,
        options: {
          aspectRatio:3,
          responsive:true
        }
      }; 
    if(Paymentchart1){
        MyPaymentChart.destroy()
      }
      if(Paymentchart2){
         MyPaymentChart2.destroy()
      }
    MyPaymentChart3 = new Chart(document.getElementById('Payment-chart'), config)
    }
    </script>