<main class="main">
        	
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">Checkout</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->

	<div class="page-content">
		<div class="checkout">
			<div class="container">
				{{!-- <div class="checkout-discount">
					<form action="#">
						<input type="text" class="form-control" required id="checkout-discount-input">
						<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
						
					</form>
				</div><!-- End .checkout-discount --> --}}
                
				
				<div class="cart-discount">
					<form action="" id="couponCheck">
						<div class="input-group">
							<input type="text" class="form-control" name="couponcode" required placeholder="coupon code">
							<div class="input-group-append mb-1">
								<button class="btn btn-outline-primary-2"  type="submit"><i class="icon-long-arrow-right"></i></button>
							</div><!-- .End .input-group-append -->
						</div><!-- End .input-group -->
					</form>
				</div><!-- End .cart-discount -->
				

				<form  id="checkout-form">
					<div class="row">
						<div class="col-lg-8">
							<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
								
								{{#each data}}
								<div class="form-check mb-1">
									<input class="form-check-input mt-5" style="size: 5em;" type="radio" name="AddressId" id="exampleRadios1" value="{{this._id}}" checked>
									<span class="form-check-label" for="exampleRadios1">
									
									<div class="card card-dashboard ml-5">
										<div class="card-body" >
											
											<h3 class="card-title">Address</h3><!-- End .card-title -->
											
											
												<p>
											{{this.firstname}} {{this.lastname}}<br>
											{{this.address}}<br>
											{{this.city}}<br>
											{{this.pin}}<br>
											
											
											<button type="button" class="btn bg-transparent text-primary" data-bs-toggle="modal" onclick="geteditAddressDetails('{{this._id}}')" data-bs-target="#editAddress" >
											Edit<i class="icon-edit"></i>
											</button>
											
											<button type="button" class="btn bg-transparent text-primary" onclick="deleteAddress('{{this._id}}')">Delete</button>
											</p>


										
										</div><!-- End .card-body -->
									</div><!-- End .card-dashboard -->
										
									</span>
								</div>	
								{{/each}}  
								
								<button type="button"  class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addAddress" >Add Address</button>
								{{!-- <a href="/checkout/address"><button type="button" class="btn btn-primary">Add Address</button> </a> --}}

								{{!-- <a href="/userAddress"><button type="submit" class="btn btn-outline-primary-2">
								<span>Add Address</span>
								<i class="icon-long-arrow-right"></i>
								</button></a> --}}

								{{!-- <label>Street address *</label>
								<input type="text" class="form-control" placeholder="House number and Street name" required>
								<input type="text" class="form-control" placeholder="Appartments, suite, unit etc ..." required> --}}

								{{!-- <div class="row">
									<div class="col-sm-6">
										<label>Town / City *</label>
										<input type="text" class="form-control" required>
									</div><!-- End .col-sm-6 -->

									<div class="col-sm-6">
										<label>State / County *</label>
										<input type="text" class="form-control" required>
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<div class="row">
									<div class="col-sm-6">
										<label>Postcode / ZIP *</label>
										<input type="text" class="form-control" required>
									</div><!-- End .col-sm-6 -->

									<div class="col-sm-6">
										
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row --> --}}
								<br>
								<br>
								{{!-- <label>Phone *</label>
								<input type="tel" class="form-control" value="{{response.mobile}}" required>
								
								<label>Email address *</label>
								<input type="email" class="form-control" value="{{response.email}}" required> --}}

								{{!-- <div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="checkout-create-acc">
									<label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
								</div><!-- End .custom-checkbox -->

								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="checkout-diff-address">
									<label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
								</div><!-- End .custom-checkbox --> --}}

								<label>Order notes (optional)</label>
								<textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
						</div><!-- End .col-lg-9 -->
						<aside class="col-lg-4">
							<div class="summary">
								<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

								<table class="table table-summary">
									<thead>
										<tr>
											<th>Product</th>
											<th>Total</th>
										</tr>
									</thead>

									<tbody>
										{{#each other}}
										<tr>
											<td><a href="#" >{{this.products.name}}</a><br><span>{{this.priceAfterdiscount}}&nbsp;&nbsp;&nbsp;&nbsp;Qty ({{this.quantity}})</span></td>
											<td id=""  ><span>Rs.{{this.productTotal}}</span></td> 
										</tr>
											{{!-- hidden details to be passed --}}

											{{!-- <input type="text" name="productId" value="{{{this.products._id}}},{{this.products.name}},{{this.quantity}}" hidden> --}}
											{{!-- <input type="text" name="productName" value="{{this.products.name}}" hidden>
											<input type="text" name="productquantity" value="{{this.quantity}}" hidden> --}}
											
											{{/each}}
										<tr class="summary-subtotal">
											<td>Subtotal:</td>
											<td>Rs.{{resp.[0].grandtotal}}</td>
										</tr><!-- End .summary-subtotal -->
										<tr>
											<td>Coupon Discount:</td>
											<td id="couponAmt">{{resp.[0].cpn}}</td>
										</tr>
										<tr>
											<td>Shipping:</td>
											<td>Free shipping</td>
										</tr>
										<tr class="summary-total">
											<td>Total:</td>
											{{#if resp.[0].cpn }}
											<td >Rs.{{resp.[0].priceaftercpndiscount}}</td>
											{{else}}
											<td id='grandtotals'>Rs.{{resp.[0].grandtotal}}</td>
											{{/if}}
										</tr><!-- End .summary-total -->
									</tbody>

								</table><!-- End .table table-summary -->

									<div class="">
									<input class="form-check-input " type="radio" style="height:20px "name="paymentOptions" id="card" value="razorpay" checked>
									<label class="form-check-label ml-4 mb-2" for="card">
										Online Payment
									</label>
									</div>

									<div class="">
									<input class="form-check-input " type="radio" style="height:20px "name="paymentOptions" id="paypal" value="paypal" checked>
									<label class="form-check-label ml-4 mb-2" for="card">
										Paypal
									</label>
									</div>

									<div class="">
									<input class="form-check-input" type="radio" style="height:20px " name="paymentOptions" id="card1" value="COD" checked>
									<label class="form-check-label ml-4 "  for="card">
										Cash on Delivery
									</label>
									</div>
								</div><!-- End .accordion -->

								<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
									<span class="btn-text">Place Order</span>
									<span class="btn-hover-text">Proceed to Checkout</span>
								</button>
							</div><!-- End .summary -->
						</aside><!-- End .col-lg-3 -->
					</div><!-- End .row -->
				</form>
			
			</div><!-- End .container -->
		</div><!-- End .checkout -->
	</div><!-- End .page-content -->
</main><!-- End .main -->

{{!-- Edit Address Modal --}}
<div class="modal fade" id="editAddress" tabindex="-1" aria-labelledby="editAddressLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAddressLabel">Edit Address</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
      </div>
      <div class="modal-body">
        <form action="" id="editAddressForm">
            
                <div class="p-5">
                   <div class="row">
                    <div class="col-sm-6">
                        <label>First Name *</label>
                        <input type="name" id="editfirstname" name="firstname" onkeyup="editvalidatefirstname()" class="form-control"  required>
                        <span class="text-danger" id="editfirstnameMessage"></span>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>Last Name *</label>
                        <input type="text" id="editlastname" onkeyup="editvalidatelastname()" name="lastname" class="form-control"  required>
                        <span id="editlastnameMessage" class="text-danger"></span>
                    </div><!-- End .col-sm-6 -->
                   </div>
            
                <label>Address *</label>
                <input type="text" rows="1" class="form-control" id="editaddress" onkeyup="editvalidateaddress()" placeholder="House number and Street name" name="address"  required>
                <span id="editaddressMessage" class="text-danger"></span>
                
                
                <div class="row">
                    <div class="col-sm-6">
                        <label>Town / City *</label>
                        <input type="text" id="editcity" onkeyup="editvalidatecity()" name="city" class="form-control" required>
                        <span id="editcityMessage" class="text-danger"></span>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>PIN *</label>
                        <input type="text"  name="pin" id="editpin" onkeyup="editvalidatepin()" class="form-control"  required>
                        <span id="editpinMessage" class="text-danger"></span>
                    </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->
                     <input type="text" id="addressId" name="addressId" hidden>
                {{!-- <button type="submit"  class="btn btn-outline-primary-2">
                    <span>Add Address</span>
                    <i class="icon-long-arrow-right"></i>
                </button> --}}
      </div>
      <div class="modal-footer">
        <p id="editaddressformMessage"  class="text-danger"></p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="return editAddressform()">Edit Address</button>
      </div>
      </div>
        </form>
    </div>
  </div>
</div>


{{!-- Add Address Modal --}}
<div class="modal fade" id="addAddress" tabindex="-1" aria-labelledby="addAddressLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddressLabel">Add Address</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
      </div>
      <div class="modal-body">
        <form action="" id="addAddressForm">
            
                <div class="p-5">
                   <div class="row">
                    <div class="col-sm-6">
                        <label>First Name *</label>
                        <input type="name" id="firstname" name="firstname" onkeyup="validatefirstname()" class="form-control" required>
                        <span class="text-danger" id="firstnameMessage"></span>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>Last Name *</label>
                        <input type="text" id="lastname" onkeyup="validatelastname()" name="lastname" class="form-control" required>
                        <span id="lastnameMessage" class="text-danger"></span>
                    </div><!-- End .col-sm-6 -->
                   </div>
            
                <label>Address *</label>
                <textarea type="text" rows="1" class="form-control" id="address" onkeyup="validateaddress()" placeholder="House number and Street name" name="address" required></textarea>
                <span id="addressMessage" class="text-danger"></span>
                
                
                <div class="row">
                    <div class="col-sm-6">
                        <label>Town / City *</label>
                        <input type="text" id="city" onkeyup="validatecity()" name="city" class="form-control" required>
                        <span id="cityMessage" class="text-danger"></span>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>PIN *</label>
                        <input type="text"  name="pin" id="pin" onkeyup="validatepin()" class="form-control" required>
                        <span id="pinMessage" class="text-danger"></span>
                    </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->

                {{!-- <button type="submit"  class="btn btn-outline-primary-2">
                    <span>Add Address</span>
                    <i class="icon-long-arrow-right"></i>
                </button> --}}
      </div>
      <div class="modal-footer">
        <p id="addressformMessage"  class="text-danger"></p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" onclick="return validateaddaddressform()">Add Address</button>
      </div>
      </div>
        </form>
    </div>
  </div>
</div>
<script src="/javascripts/validations.js"></script>
<script>
    function deleteAddress(addressId){
		console.log(addressId)
    Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel!",
        reverseButtons: true
    }).then(function(result) {
        if (result.value) {
            Swal.fire(
                "Deleted!",
                "Your file has been deleted.",
                "success"
            )
                    $.ajax({
                        url: '/deleteAddress/'+addressId,
                        method: 'delete',
                        success: (response)=>{
                            if(response.status){

                            location.reload()
                            }
                        }
                    })
            // result.dismiss can be "cancel", "overlay",
            // "close", and "timer"
        } else if (result.dismiss === "cancel") {
            Swal.fire(
                "Cancelled",
                "Your imaginary file is safe :)",
                "error"
            )
        }
    });
    }

    function validateaddaddressform(){
    if(!validatefirstname() || !validatelastname() || !validateaddress() || !validatecity() || !validatepin()){
      addressformMessage.style.display='block';
        addressformMessage.innerHTML='Please fix Error';
        setTimeout(function(){addressformMessage.style.display='none';},3000);
        return false;
    }else{
       addressformMessage.innerHTML='';
        $.ajax({
            url: '/addAddress',
            type:'patch',
            data: $("#addAddressForm").serialize(),
            success: (response)=>{
               if(response.status){
                window.location.reload()
               } 
            }
        })
    }
  }

  function geteditAddressDetails(addressId){
    console.log('hi')
    $.ajax({
        url: '/geteditAddressDetails',
        data: {
            addressId: addressId
        },
        method: 'post',
        success: (response)=>{
           console.log(response[0]._id)
           document.getElementById('editfirstname').value=response[0].firstname
           document.getElementById('editlastname').value=response[0].lastname
           document.getElementById('editaddress').value=response[0].address
           document.getElementById('editcity').value=response[0].city
           document.getElementById('editpin').value=response[0].pin
           document.getElementById('addressId').value=response[0]._id
           
        }
    })
  }
  
  function editAddressform(){
    if(!editvalidatefirstname() || !editvalidatelastname() || !editvalidateaddress() || !editvalidatecity() || !editvalidatepin()){
      editaddressformMessage.style.display='block';
        editaddressformMessage.innerHTML='Please fix Error';
        setTimeout(function(){editaddressformMessage.style.display='none';},3000);
        return false;
    }else{
       editaddressformMessage.innerHTML='';
        $.ajax({
            url: '/editAddress',
            type:'patch',
            data: $("#editAddressForm").serialize(),
            success: (response)=>{
               if(response.status){
                console.log('its entering here')
                window.location.reload()
               } 
            }
        })
    }
  }

  $('#couponCheck').submit((e)=>{
			 e.preventDefault()

			 $.ajax({
				url: '/coupon-validate',
				type: 'patch',
				data : $("#couponCheck").serialize(),
				success: (response)=>{
					if(response.status){
						document.getElementById('grandtotals').innerHTML=response.priceAftercouponOffer[0].priceaftercpndiscount
                        document.getElementById('couponAmt').innerHTML=response.couponAmount
						Swal.fire("Good job!", "Coupon applied!", "success");
					}else{					     
                      Swal.fire("Good job!", "Coupon not found!", "error");
					}
				}
			 })
		   })
</script>
		
<script src="/javascripts/usercheckout.js"></script>
		
		